.icon-shape {
    width: 48px;
    height: 48px;
    background-position: center;
    border-radius: 0.75rem;
    background-color: rgb(60, 60, 245);
  }
  
  .icon-shape i {
    color: #fff;
    opacity: 0.8;
    top: 14px;
    position: relative;
  }