<div class="d-flex justify-content-between main-wrapper">
    <div class="d-flex w-50 align-items-center justify-content-center left-container">
        Bienvenido a Unicomer
    </div>
    <div class="d-flex flex-column h-100 w-50 align-items-center justify-content-between right-container">
        <app-form (formItemsSelected)="submitForm($event)"  class="w-75" [formItems]="formItems" [title]="formTitle" [button]="formButton"></app-form>
        <div class="footer mb-4">
            ¿No tienes cuenta? Registrate aqui
        </div>
    </div>
</div>